@using Newtonsoft.Json
@model StarBastardCore.Website.Controllers.GameBoardAndSupportingUiDataViewModel
@{
    ViewBag.Title = "title";
}

<div class="page-header">
    <h1> @Model.Gameboard.Name <small>@Model.Gameboard.CurrentPlayer.Name's turn.</small></h1>
</div>

<div id="gameplayarea" class="row clearfix">
    <div id="gameboard" class="span5">
        <div id="systems"></div>
    </div>
    <div id="central-column" class="span4">
        <div id="zoomed-in" style="display: none;">
            <h1 id="zoomed-system-name"></h1>
            <div id="zoomed-keystats">
                
                <span title="Buildings built" class="badge poptip"><span id="zoomed-number-of-buildings-built" class="keystat"></span>/<span id="zoomed-number-of-buildings-cap"></span></span>
                <span title="Armies in battlefield" id="zoomed-number-of-armies-in-battlefield" class="keystat poptip badge badge-success"></span>
                <span title="Ships in orbit" id="zoomed-number-of-ships-in-orbit" class="keystat poptip badge badge-warning"></span>
                <span title="Enemy ships in orbit" id="zoomed-number-of-enemy-ships-in-orbit" class="keystat poptip badge badge-important"></span>
            </div>
            <div style="clear: both;"></div>
            <div id="zoomed-occupier">
                <h2>Occupier</h2>
                <p>Player <span id="zoomed-occupier-id"></span></p>
            </div>
            <div id="zoomed-orbit">
                <h2>Orbit</h2>
                <div>
                    <div id="zoomed-orbit-ships"></div>
                </div>
            </div>
            <div id="zoomed-battlefield">
                <h2>Battlefield</h2>
            </div>
            <div id="zoomed-city">
                <h2>City</h2>
                <div>
                    <div id="zoomed-city-items"></div>
                </div>
            </div>
            <div id="zoomed-income">
                <h2>Income</h2>
                <div>
                    Ore  income: <span id="zoomed-ore-income"></span><br/>
                    Food income: <span id="zoomed-food-income"></span><br/>
                    Tech income: <span id="zoomed-tech-income"></span><br/>
                </div>
            </div>
            <div style="padding-top: 25px;">
                <button class="switch-to-map">Close</button>
            </div>
        </div>
    </div>
    <div id="player" class="span2">
        <h1 id="activePlayerName"></h1>
        <div>
            Ore  income: <span id="player-ore-income"></span><br/>
            Food income: <span id="player-food-income"></span><br/>
            Tech income: <span id="player-tech-income"></span><br/>
        </div>
            
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Build <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <a href="#" class="build-farm">Build farm</a>
                    <a href="#" class="build-mine">Build mine</a>
                    <a href="#" class="build-sciencelab">Build sciencelab</a>
                    <a href="#" class="build-spaceport">Build spaceprt</a>
                </ul>
            </div>
        <div>
            <h2>Actions</h2>
            <div id="player-actionqueue"></div>
        </div>
        <div>
            <button class="start-turn">Next Turn</button><br/>
            Round: <span class="round-number"></span><br/>
            Player: <span class="player-number"></span><br/>
        </div>
    </div>
</div>


<div style="clear:both;"></div>
<div class="clearfix"></div>
<div id="systemsSummary"></div>
            
@{ var json = JsonConvert.SerializeObject(Model.Gameboard); }
@section scripts {

    @Scripts.Render("~/bundles/game-renderer")

    <script type="text/javascript">
        $(function() {
            
            var $playerStatusRenderer = new playerStatusRenderer();
            var $systemDetailsRenderer = new systemDetailsRenderer();
            var $gameboardRenderer = new gameBoardRenderer();

            
            var gameboard = @(Html.Raw(json));
            
            window.gameboard = gameboard.Systems;
            window.context = gameboard;
            
            $gameboardRenderer.render(context, $("#systems"));

            var $playerControls = new playerControls(function(ctx) {
                $systemDetailsRenderer.render(ctx, $playerControls.getSelectedSystem());
                $playerStatusRenderer.render(context, context.CurrentPlayer);
            });
            
            $playerControls.bindToUi();
            
        });
    </script>
}


<section>
    <h2>Debug - World Model</h2>
    <p>This is the filtered view for the current player.</p>
    <code>
        @(Html.Raw(json));
    </code>
</section>